# .NET
**/bin/
**/obj/

# Node
**/node_modules/
**/dist/

# Android
**/.gradle/
**/build/
**/local.properties

# Local environment
.env
.env.*
!.env.example
!.env.android
!**/.env.android
!.env.ios
!**/.env.ios

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
